<h1><%= params[:completed]&.titleize || "All" %> Tasks</h1>

<%= react_component "Tasks",
    props: { completed: params[:completed] } %>

<hr>

<% unless params[:completed] == "completed" %>
  <%= render 'form', task: @task %>
<% end %>

<script type="text/javascript">
  if( "geolocation" in navigator){
    navigator.geolocation.getCurrentPosition(
      (position) => {
        const coordinates = [
                position.coords.longitude,
                position.coords.latitude
              ]
        document.getElementById("task_longitude")
          .value = coordinates[0]
        document.getElementById("task_latitude")
          .value = coordinates[1]
        document.getElementById("use_current_location")
          .disabled = false
      },
      () => { console.log("could not get location") },
      {
        enableHighAccuracy: true,
        maximumAge:         30000,
        timeout:            27000
      }
    )
  }
</script>
